<% ballot_boxes.each do |ballot_box| %>
  <div class="my-4 border-bottom ballot_box"style="width:100%;">
    <h5 class="mb-0"><b><%= ballot_box.question %></b></h5>
    <p class="mb-0" style="font-size: 50%;"><%= "作成日：#{ballot_box.created_at.strftime('%Y/%m/%d')}" %></p>
    <p class="mb-1" style="font-size: 50%;"><%= "投票数：#{ballot_box.votes.count}" %></p>
    <a href= <%= ballot_box_path(ballot_box) %> class="p-0 btn btn-outline-dark" style="border: none;">
      <h5>投票する</h5>
    </a>
    <div>
      <% ballot_box.ballot_tags.each do |tag_id| %>
        <button type="button" class="btn btn-sm btn-outline-info mb-1 hashtags"><%= "##{tag_id.tag.name}" %></button>
      <% end %>
    </div>
  </div>
<% end %>