<div class="col-3 border-right"style="height:100%;">
  <div class="row border-bottom bg-light" style="height: 6%;">
    <div class="container d-flex align-items-center" style="height: 100%;">
      <% if user_signed_in?%>
        <div class="pl-0 text-secondary" type="button" data-toggle="dropdown" style="width:100%;">
          <i class="fa fa-home"></i>
          <%= current_user.nickname %>
        </div>
        <div class="dropdown-menu">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div> 
      <% else %>
        <div class="pl-0 text-secondary" type="button" data-toggle="dropdown" style="width:100%;font-size:100%;">
          <i class="fa fa-home"></i>
          ゲストユーザー
        </div>
        <div class="dropdown-menu">
          <%= link_to "ログイン", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "アカウント作成",new_user_registration_path, class: "dropdown-item" %>
        </div> 
      <% end %>
    </div>
  </div>
  <div class="pt-4">
    <h4 class="pb-3 border-bottom">投票</h4>
    <h6>
      <a href="<%= ballot_boxes_path %>" class="d-flex list-group-item list-group-item-action py-2" style="border: none;" id="new-vote">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-sort-down-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 3a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-1 0v-10A.5.5 0 0 1 3 3z"/>
          <path fill-rule="evenodd" d="M5.354 11.146a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L3 12.793l1.646-1.647a.5.5 0 0 1 .708 0zM7 6.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5zm0 3a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5zm0 3a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm0-9a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 0-1h-1a.5.5 0 0 0-.5.5z"/>
        </svg>
      最新投票
      <a>
    </h6>
    <h6>
      <a href="<%= popular_ballot_boxes_path %>" class="d-flex list-group-item list-group-item-action py-2" style="border: none;" id="popular-vote">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trophy" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
        </svg>
      人気投票
      <a>
    </h6>
  </div>
  <div class="pt-3" style="height: 65%; overflow: scroll;">
    <h4 class="pb-3 border-bottom">チャンネル</h4>
    <% if user_signed_in?%>
      <% user_rooms.each do |user_room| %>
        <a href="<%= ballot_box_rooms_path(user_room.room.ballot_box) %>" class="list-group-item list-group-item-action py-1" style="border :none; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;", id="user-room-<%= user_room.room_id  %>" >
          <i class="fa fa-commenting-o fa-flip-horizontal"></i>
          <%= user_room.room.ballot_box.question %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>
<!-- jQuery読み込み -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<!-- PopperのJS読み込み -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  