<div class="container-fluid">
  <div class="row" style="height: 100vh; width: 100vw;">
    <%= render partial:"share/side_content", locals: {user_rooms: @user_rooms} %>
    <div class="col-9" style="height: 100vh;">
      <%= render partial: "share/header", locals: { search: @search} %>
      <div class="my-1" style="height: 82%; overflow: scroll;">
        <% @ballot_boxes.each do |ballot_box| %>
          <div class="my-4 border-bottom"style="width:100%;">
            <h5 class="mb-0"><b><%= ballot_box.question %></b></h5>
            <p class="mb-0" style="font-size: 50%;"><%= "投票数：#{ballot_box.votes.count}" %></p>
            <p class="mb-1" style="font-size: 50%;"><%= "作成日：#{ballot_box.created_at.strftime('%Y/%m/%d')}" %></p>
            <a href= <%= "/ballot_boxes/#{ballot_box.id}"%> class="p-0 btn btn-outline-dark" style="border: none;">
              <h5>投票する</h5>
            </a>
            <div class="mb-1">
              <% ballot_box.ballot_tags.each do |tag_id| %>
                <button type="button" class="btn btn-sm btn-outline-info"><%= "##{tag_id.tag.name}" %></button>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <a href="/ballot_boxes/new" class="container  btn btn-outline-danger d-flex justify-content-center align-items-center" style="height: 10%;">
        <div style="font-size: 200%;">
          投票を作成する
        </div>
      </a>
    </div>
  </div>
</div>