<div class="container-fluid">
  <div class="row" style="height: 100vh; width: 100vw;">
    <%= render partial:"share/side_content", locals: {user_rooms: @user_rooms} %>
    <div class="col-9" style="height: 100vh;">
      <div class="row border-bottom bg-light" style="height: 6%; overflow: scroll;">
        <div class="container m-0 d-flex align-items-center justify-content-between">
          <%= search_form_for @search, url: popular_ballot_boxes_path do |f| %>
            <div class="d-flex" style="width:50vw;">
              <%= f.search_field :name_cont, class:"form-control form-control-sm", placeholder:"#タグ検索"%>
              <%= f.submit "検索", class: "border btn btn-sm btn-outline-secondary"%>
            </div>
          <% end %>
          <div class="border btn btn-sm btn-outline-secondary" data-toggle="dropdown">?</div>
          <div class="dropdown-menu">
            <p class="dropdown-item mb-0">
              <b class="border-bottom">Prosconsはあなたの意見を尊重します。</b>
              <br>[step1]投票を作成しよう
              <br>[step2]賛成か反対を投票しよう
              <br>[step3]チャンネルで発言しよう
              <br>[step4]意見にいいねを押そう
              <br>
              <br>*コメントのいいねが10を超えると投票数が増えます
            </p>
          </div>
        </div>
      </div>
      <div class="my-1" style="height: 82%; overflow: scroll;">
        <%= render partial: "share/repeat", locals: {ballot_boxes: @ballot_boxes} %>
      </div>
      <a href="/ballot_boxes/new" class="container btn btn-outline-danger d-flex justify-content-center align-items-center" style="height: 10%;">
        <div style="font-size: 200%;">
          投票を作成する
        </div>
      </a>
    </div>
  </div>
</div>