<div class="container-fluid">
  <div class="row" style="height: 100vh; width: 100vw;">
    <%= render partial:"share/side_content", locals: {user_rooms: @user_rooms} %>
    <div class="col-9" style="height: 100vh;">
      <%= render partial: "share/header", locals: { search: @search} %>
      <div class="mb-1" style="height: 82%;overflow: scroll;">
        <% if flash[:alert].present? %>
          <p class="text-danger pt-4"><%= flash.now[:alert] %></p>
        <% end %>
        <div class="mt-4" style="width:80%;">
          <h2 class="border-bottom pb-2"><b><%= question %></b></h2>
          <p class="mb-0 text-secondary" style="font-size: 80%;"><%= "作成日：#{ created_date }" %></p>
          <p class="text-secondary" style="font-size: 80%;"><%= "投票数：#{ @votes.count }" %></p>
          <% @tags.each do |tag_id| %>
            <button class="btn btn-outline-info mr-1 mb-2 hashtags"><%= "##{tag_id.tag.name}" %></button>
          <% end %>
          <div class="mt-3 py-3 border-top ">
            <h5><b>詳細</b></h5>
            <p><%= safe_join(detail.split("\n"),tag(:br)) %></p>
          </div>
          <% if @ballot_box.supplement.present? %>
            <div class="py-3 border-top text-secondary">
              <h5><i class="fa fa-level-up fa-rotate-90"></i> 補足</h5>
              <p><%= safe_join(supplement.split("\n"),tag(:br)) %></p>
            </div>
          <% end %>
          <% if user_signed_in? && current_user.id == @ballot_box.user_id %>
            <%= link_to "編集する", edit_ballot_box_path(@ballot_box), class:"btn btn-danger mt-5", style: "width: 100%;" %>
            <%= link_to "削除する", ballot_box_path(@ballot_box), method: :delete, class:"btn btn-secondary mt-1", style:"width: 100%;" %>
          <% end %>
        </div>
      </div>
      <div style="height: 10%;" id="vote-result">
        <% if user_signed_in? %>
          <% if @votes.find_by(user_id: current_user.id) %>
            <a href="<%= ballot_box_rooms_path(@ballot_box)%>" class="btn btn-outline-primary d-flex justify-content-center align-items-center" style="height: 100%;">
              <div style="font-size: 200%">
                チャンネルに参加する
              </div>
            </a>
          <% else %>
            <%= form_with model: [@ballot_box, @vote], local: true do |f| %>
              <a class="d-flex"style="text-decoration: none;">
                <%= f.text_field :result, type:"hidden", id:"vote-form"%>
                <%= f.submit '賛成', class:"col-6 btn btn-outline-success", style:"font-size: 200%; height: 10vh;", id:"pros-btn" %>
                <%= f.submit '反対', class:"col-6 btn btn-outline-primary", style:"font-size: 200%; height: 10vh;", id:"cons-btn" %>
              </a>
            <% end %>
          <% end %>  
        <% else %>
          <a href="<%= ballot_box_rooms_path(@ballot_box)%>" class="btn btn-outline-primary d-flex justify-content-center align-items-center" style="height: 100%;">
            <div style="font-size: 200%">
              チャンネルを覗く
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>