<div class="container-fluid">
  <div class="row" style="height: 100vh; width: 100vw;">
    <%= render partial:"share/side_content", locals: {user_rooms: @user_rooms} %>
    <div class="col-9" style="height: 100vh;">
      <%= render partial: "share/header", locals: { search: @search} %>
      <div class="mb-1" style="height: 82%;overflow: scroll;">
        <form class="mt-4" style="width:70%;">
          <fieldset disabled>
            <div class="form-group" style="line-height: 100%;">
              <label for="question" style="font-size: 200%;">タイトル</label>
              <input class="form-control form-control-lg" id="question" type="text" value="<%= @ballot_box.question%>">
            </div>
            <div class="form-group mt-4" style="line-height: 100%;">
              <label for="detail" style="font-size: 200%;">詳細</label>
              <textarea class="form-control" id="detail" rows="3"><%= @ballot_box.detail %></textarea>
            </div>
            <div class="form-group mt-4" style="line-height: 100%;">
              <label for="tag" style="font-size: 200%;">ハッシュタグ</label>
              <% @tags.each do |tag| %>
                <div class="input-group-prepend" style="width: 100%;">
                  <div class="input-group-text">#</div>
                  <input type="text" class="form-control" id="tag" value="<%= tag.tag.name %>">
                </div>
              <% end %>
            </div>
            <% if @ballot_box.supplement.present? %>
              <div class="form-group mt-5" style="line-height: 100%;">
                <label for="supplement" style="font-size: 200%;">補足</label>
                <textarea class="form-control" id="supplement"><%= @ballot_box.supplement %></textarea>
              </div>
            <% end %>
          </fieldset>
          <% if user_signed_in? && current_user.id == @ballot_box.user_id %>
            <%= link_to "編集する", edit_ballot_box_path(@ballot_box), class:"btn btn-danger mt-5", style: "width: 100%;" %>
            <%= link_to "削除する", ballot_box_path(@ballot_box), method: :delete, class:"btn btn-secondary mt-1", style:"width: 100%;" %>
          <% end %>
        </form>
      </div>
      <div style="height: 10%;" id="vote-result">
        <% if user_signed_in? %>
          <% if @votes.find_by(user_id: current_user.id) %>
            <a href="<%= ballot_box_rooms_path(@ballot_box)%>" class="btn btn-outline-primary d-flex justify-content-center align-items-center" style="height: 100%;">
              <div style="font-size: 200%">
                チャンネルに参加する
              </div>
            </a>
          <% else %>
            <%= form_with model: [@ballot_box, @vote], local: true do |f| %>
              <a class="d-flex"style="text-decoration: none;">
                <%= f.text_field :result, type:"hidden", id:"vote-form"%>
                <%= f.submit '賛成', class:"col-6 btn btn-outline-success", style:"font-size: 200%; height: 10vh;", id:"pros-btn" %>
                <%= f.submit '反対', class:"col-6 btn btn-outline-primary", style:"font-size: 200%; height: 10vh;", id:"cons-btn" %>
              </a>
            <% end %>
          <% end %>  
        <% else %>
          <a href="<%= ballot_box_rooms_path(@ballot_box)%>" class="btn btn-outline-primary d-flex justify-content-center align-items-center" style="height: 100%;">
            <div style="font-size: 200%">
              チャンネルを覗く
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>