<div class="container-fluid">
  <div class="row" style="height: 100vh; width: 100vw;">
    <%= render partial:"share/side_content", locals: {user_rooms: @user_rooms} %>
    <div class="col-9" style="height: 100vh;">
      <%= render partial: "share/header", locals: { search: @search} %>
      <div class="d-flex justify-content-between border-bottom pb-1" style="align-items:flex-end; height: 7%; width: 100%;">
        <h3 class="mb-0" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
          <%= link_to @ballot_room.question, ballot_box_path(@ballot_room), style:"color: black;" %>
        </h3>
        <div class="d-flex" id="<%= @vote.result if user_signed_in? %>">
          <% if user_signed_in? %>
            <% if @vote.result %>
              <a href="<%= ballot_box_vote_path(@ballot_room, @vote) %>" data-method="patch" class="mr-3 btn btn-sm btn-outline-success" id="change-vote">あなたの意見：賛成</a>
            <% else %>
              <a href="<%= ballot_box_vote_path(@ballot_room, @vote) %>" data-method="patch" class="mr-3 btn btn-sm btn-outline-primary" id="change-vote">あなたの意見：反対</a>
            <% end %>
          <% end %>
          <p class="btn btn-sm btn-outline-secondary mb-0 info" data-toggle="dropdown">i
            <div class="dropdown-menu">
              <a class="dropdown-item"><%= "作成者：#{@ballot_room.user.nickname}" %></a>
              <a class="dropdown-item"><%= "参加数：#{@ballot_room.room.user_rooms.includes(:user).count}人" %></a>
              <%= link_to "このチャンネルから退出", ballot_box_room_path(@ballot_room, @ballot_room.room), method: :delete, class:"dropdown-item" if user_signed_in? %>
            </div>
          </p>
        </div>
      </div>
      <div class="row" style="height: 68%; overflow: scroll;">
        <div style="width: 100%;" id="comments-area">
        <% @discussions.each do |discussion| %>
          <% if discussion.vote_result %>
            <div class="col-8 my-5">
              <div class="my-0">
                <p class="mb-0" style="font-size: 80%;"><%= "#{discussion.user.nickname}:賛成"%></p>
                <div class="border p-2" style="border-radius: 5px; display: inline-block;">
                  <p class="mb-0"><%= safe_join(discussion.comment.split("\n"),tag(:br)) %></p>
                </div>
              </div>
              <% if user_signed_in? && discussion.likes.find_by(user_id: current_user.id)%>
                <div type="button" class="like btn p-0" id=<%= "discussion-#{discussion.id}" %> style="color: blue;">
              <% else %>
                <div type="button" class="like btn p-0" id=<%= "discussion-#{discussion.id}" %>>
              <% end %>
                <span class="fa fa-thumbs-o-up">いいね！</span>
              </div>
            </div>
          <% else %>
            <div class="col-8 offset-4 my-5">
              <div class="my-0" style="text-align: right;">
                <p class="mb-0" style="font-size: 80%;"><%= "#{discussion.user.nickname}:反対"%></p>
                <div class="border p-2" style="border-radius: 3px; text-align:left; display: inline-block;">
                  <p class="mb-0"><%= safe_join(discussion.comment.split("\n"),tag(:br)) %></p> 
                </div>
              </div>
              <div style="text-align: right;">
                <% if user_signed_in? && discussion.likes.find_by(user_id: current_user.id)%>
                  <div type="button" class="like btn p-0" id=<%= "discussion-#{discussion.id}" %> style="color: blue;">
                <% else %>
                  <div type="button" class="like btn p-0" id=<%= "discussion-#{discussion.id}" %>>
                <% end %>
                  <span class="fa fa-thumbs-o-up">いいね！</span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-end" style="height: 5%;">
        <p class="mb-0">賛成
          <b style="font-size:200%;"><%= @ballot_room.votes.where(result: true).count %></b>
        </p>
        <div>
          投票数：<b><%= @ballot_room.votes.count %></b>
        </div>
        <p class="mb-0">反対
          <b style="font-size:200%;"><%= @ballot_room.votes.where(result: false).count %></b>
        </p>
      </div>
      <div style="height: 3%; width: 100%;">
        <div class="d-flex" style="height:80%;">
          <div class="bg-success" style="width: <%= @ballot_room.votes.where(result: true).count.to_f / @ballot_room.votes.count.to_f * 100  %>%; height: 100%;"></div>
          <div class="bg-primary" style="width: <%= @ballot_room.votes.where(result: false).count.to_f / @ballot_room.votes.count.to_f * 100 %>%; height: 100%;"></div>
        </div>
      </div>
      <% if user_signed_in?%>
        <div style="height: 10%; width: 100%; overflow: scroll;">
          <%= form_with model: [@ballot_room, @ballot_room.room, @discussion] do |f| %>
            <div class="d-flex" style="height: 10vh;">
              <%= f.hidden_field :vote_result, value: @vote.result %>
              <%= f.text_area :comment, class:"form-control", style:"resize: none;", rows:"1", placeholder:"コメント入力" %>
              <%= f.submit "投稿", class:"input-group-text"%>
            </div>
          <% end %>
        </div>
      <% else %>
        <a href="/users/sign_in" class="container  btn btn-outline-danger d-flex justify-content-center align-items-center" style="height: 10%;">
          <div style="font-size: 200%">
            コメントするにはログインしてください
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>