<div class="container-fluid">
  <div class="row" style="height: 100vh; width: 100vw;">
    <%= render partial:"share/side_content", locals: {user_rooms: @user_rooms} %>
    <div class="col-9" style="height: 100vh;">
      <div class="title d-flex justify-content-between border-bottom" style="height: 10%; width: 100%; align-items: flex-end;">
        <h1><%= link_to @ballot_room.question, ballot_box_path(@ballot_room), style:"color: black;" %></h1>
        <div class="d-flex">
          <% if @vote.result %>
            <p class="mr-3 btn border">あなたの意見：賛成</p>
          <% else %>
            <p class="mr-3 btn border">あなたの意見：反対</p>
          <% end %>
          <p class="border btn btn-outline-secondary" data-toggle="dropdown">i</p>
          <div class="dropdown-menu">
            <a class="dropdown-item"><%= "投票数：#{@ballot_room.votes.count}" %></a>
            <a class="dropdown-item" href="#">投票を変える</a>
            <%= link_to "このチャンネルから退出", ballot_box_room_path(@ballot_room, @ballot_room.room), method: :delete, class:"dropdown-item" %>
          </div>
        </div>
      </div>
      <div class="row" style="height: 75%; overflow: scroll;">
        <div class="pros col-6" style="height: 100%;" id="pros_comments">
          <% @pros_votes.each do |pros_vote| %>
            <% pros_vote.discussions.each do |pros_discussion| %>
              <div class="my-4" >
                <div class="border p-2 d-flex" style="border-radius: 3px;">
                  <%= safe_join(pros_discussion.comment.split("\n"),tag(:br)) %>   
                </div>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill button" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="cons col-6" style="height: 100%;" id="cons_comments">
          <% @cons_votes.each do |cons_vote| %>
            <% cons_vote.discussions.each do |cons_discussion| %>
              <div class="my-4" >
                <div class="border p-2 d-flex" style="border-radius: 3px;">
                  <%= safe_join(cons_discussion.comment.split("\n"),tag(:br)) %>   
                </div>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill button" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center" style="height: 5%;">
        <div><%= "賛成：#{@ballot_room.votes.where(result: true).count}" %></div>
        <div>-------</div>
        <div><%= "反対：#{@ballot_room.votes.where(result: false).count}" %></div>
      </div>
      <div style="height: 10%; width: 100%; overflow: scroll;">
        <%= form_with model: [@ballot_room, @ballot_room.room, @discussion] do |f| %>
          <div class="d-flex" style="height: 10vh;">
            <%= f.hidden_field :vote, value: @vote.id%>
            <%= f.text_area :comment, class:"form-control", style:"font-size: 200%; resize: none;", rows:"1", placeholder:"コメント入力" %>
            <%= f.submit "投稿", class:"input-group-text"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>